body{
    background-color: aliceblue;
}
.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid blue;
}
.firstTitle{
    background-color: violet;
    grid-column-start: 2;
    text-align: center;
    border: 2px solid blue;
}
.menu{
    display: flex;
      align-items: center;
      justify-content: space-between;
      border: 2px solid blue;
      
}

.container{
    display: grid;
    grid-template-columns: auto 1fr;
    height: 700px;
    
}
.menuGauche{
    border: 2px solid blue;
    background-color: antiquewhite;
   
}
.pageCentrale{
    border: 2px solid blue;
    background-color: rgb(18, 166, 154);
}
.footer{
    border: 2px solid blue;
    background-color: brown;
    height: 60px;
}