body{
    background-color: aliceblue;
}

.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}
.firstTitle{
    grid-column-start: 2;
    
}

.menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.menu1{
    background-color: red;
    grid-column-start: 1;
    
}

.menu2{
    background-color: blueviolet;
    grid-column-start: 2;
   
}

.menu3{
    background-color: green;
    grid-column-start: 3;
    
}